$base-color: #036;

// this needs to run longer than the FaultyComponent.scss compiler
@for $i from 1 through 10000 {
  ul:nth-child(3n + #{$i}) {
    background-color: lighten($base-color, $i % 20 * 5%);
  }
}
