@import './breakpoints.scss';

.example {
    font-size: 14px;
    font-family: "Times New Roman", serif;
    color: red;
    background: white;
    border: 1px solid red;
    transform: translateX(100px);

    strong {
        color: orange;
    }
}
